<footer class="overall-footer bg-light border-top shadow-sm text-center">
	<p class="text-center mb-5"><i style="font-family: serif;">Да се посмеем и да се научим да не се приемаме твърде насериозно.</i></p>
	<hr class="star mb-5">
	<ul class="list-inline">
		<li class="list-inline-item"><a href="https://github.com/chitanka/smehurko" class="text-muted" target="_blank"><span class="fa fa-code"></span> Изходен код</a></li>
		<li class="list-inline-item"><a href="/smehurko.sql.gz" class="text-muted"><span class="fa fa-database"></span> База от данни</a></li>
	</ul>
</footer>
