{% if pager is defined and pager.haveToPaginate %}
	<div class="pagerfanta">
		{{ pagerfanta(pager, 'twitter_bootstrap4', { 'omitFirstPage': true, 'proximity': 1, 'prev_message': 'â†', 'next_message':'â†’' }) }}
	</div>
{% endif %}
