{% if pager is defined %}
	<div class="pagerfanta">
		{{ pagerfanta(pager, 'twitter_bootstrap4', { 'omitFirstPage': true, 'proximity': 1, 'prev_message': '←', 'next_message':'→' }) }}
	</div>
{% endif %}
