{% extends 'base.html.twig' %}
{% block content %}
<div class="row">
	<div class="col-md">
		{% include 'Joke/labels.html.twig' %}
	</div>
	<div class="col-md">
		{% include 'Joke/sources.html.twig' %}
	</div>
</div>
{% endblock %}
