{% extends 'base.html.twig' %}
{% block content %}
	{% include 'Joke/jokes.html.twig' %}
	{% include 'pager.html.twig' %}
	{% if pager.nbResults == 0 %}
		<p class="alert alert-warning"><span class="far fa-eye-slash"></span> Торбата е празна.</p>
	{% endif %}
{% endblock %}
