{% extends 'base.html.twig' %}
{% block content %}

	<h1 class="text-center">Предложени смешки</h1>
	{% for jokeSubmission in pager.currentPageResults %}
		{% include 'Joke/jokeSubmission.html.twig' %}
	{% endfor %}

	{% include 'pager.html.twig' %}
{% endblock %}
