{% extends 'base.html.twig' %}
{% block content %}
	<h1 class="text-center">
		{{ source.name }}
		<a href="{{ source.url }}" target="_blank" title="Връзка към източника на смешките"><span class="fas fa-book"></span></a>
	</h1>
	{% include 'Joke/jokes.html.twig' %}
	{% include 'pager.html.twig' %}
{% endblock %}
