{% extends 'base.html.twig' %}
{% block content %}
	<h1>Добавяне на смешка</h1>
	<style>
		#joke_submission_content {
			height: 20em;
		}
		#joke_submission_source {
			height: 2em;
		}
	</style>
	{{ form(form) }}
{% endblock %}
{% block custom_javascripts %}
<script>
	$('#joke_submission_themes').select2();
</script>
{% endblock %}
